body{
    padding: 0;
    margin: 0;
    background: url("./snow-4666831__340.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: green;
}
.temp{
    font-size: 100px;
    color:red;
    text-shadow: 1px 1px 1px;
}
.card{
    background: transparent;
    box-shadow: insert 1px 1px 39px 1px blueviolet;
}
.icon img{
    float: right;
    position: absolute;
    right: 0px;
    top: -25px;
    width: 157px;
    color: crimson;
}
.des{
    font-size: 30px;
}