body{
    background: linear-gradient(to right,purple,blue);
}
template{
    display: flex;
}
.card{
    width: 24%;
    float: left;
    margin: 5px;
}
h1{
    font-size: 100px;
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
}
template{
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

p{
    color:red;
    font-size: 25px;
    border-bottom: 1px solid rgb(238, 238, 238);
}